   
    <nav class="navbar">
        <div class="navbar-nav">
            <h6 class="logo">size</h6>
        </div>
        <div class="nav">

            <div class="nav-url">
                <a href="/">Home</a>
                <a href="#about">About</a>
                <a href="/">Contact</a>
            </div>
            <div class="nav-button">
                <a href="#create">Starts</a>
            </div>
        </div>
    </nav>


