 <!--halaman utama-->
 <div class="home" id="home">
    <div class="infor">
    <div class="ket">
      <h1> MTK </h1>
      <h1>MUDAH</h1>
      <p>Praktis untuk mempelajari trigonometri, matriks, statistika, dan menghitung sisi miring segitiga serta persegi panjang dengan mudah.</p>
    </div>
    <div class="home-img">
      <img src="img/elm.png" alt="">
    </div>
     </div>
     </div>

<div class="about" id="about">
 <h1>About</h1>
 <p>Selamat datang di MatematikaMudah.com! Kami adalah sumber daya online yang menyediakan panduan praktis untuk mempelajari trigonometri, matriks, statistika, dan menghitung sisi miring segitiga serta persegi panjang dengan mudah.

    Apakah Anda ingin mempelajari trigonometri? Di situs kami, Anda akan menemukan jawaban dari soal yang anda masukan tentang konsep-konsep Trigonometri, Matriks, Statistika, Persegi Panjang, dan Segitiga.</p>
</div>
     <div class="create" id="create">
      <div class="create-ket">
       <h4>What can we explain?</h4>
      </div>
      <div class="create-link">
       <a href="/trigonometri">
           <img src="img/trigonometri.png" alt="trigonometri">
       </a>
       <a href="/matrix-2">
           <img src="img/matrix.png" alt="matrix">
       </a>
       <a href="/statistika">
           <img src="img/statistika.png" alt="statistika">
       </a>
       <a href="/segitiga">
           <img src="img/segitiga.png" alt="segitiga">
       </a>
       <a href="/persegi">
           <img src="img/persegi.png" alt="persegi">
       </a>
       
      </div>
   </div>