<div class="create">
   <div class="create-ket">
    <h4>What can we explain?</h4>
   </div>
   <div class="create-link">
    <a href="/trigonometri">
        <img src="img/trigonometri.png" alt="trigonometri">
    </a>
    <a href="/matrix-2">
        <img src="img/matrix.png" alt="matrix">
    </a>
    <a href="/statistika">
        <img src="img/statistika.png" alt="statistika">
    </a>
    <a href="/segitiga">
        <img src="img/segitiga.png" alt="segitiga">
    </a>
    <a href="/persegi">
        <img src="img/persegi.png" alt="persegi">
    </a>
    
   </div>
</div>