<div class="matriks">
  <div class="matkus">
  <div class="matriks-input">
    <div class="matriks-ket">
      <h1>Invers matriks 2x2</h1>
    </div>
    <div class="matriks-input-button">
      <input type="text" id="baris11" placeholder="B1/K1">
      <input type="text" id="baris22" placeholder="B2/K2">
      <input type="text" id="baris33" placeholder="B3/K3">
      <input type="text" id="baris44" placeholder="B4/K4">
    </div>
    <div class="button">

      <button onclick="hitungInvMat()">Start !</button>
    </div>
  </div>
  <div class="matriks-output">
    <h1>Output</h1>
    <div class="matriks-output-final">
      <h4 class="hasil-p-Ppp"></h4>
      <p class="hasil-p-Pp11"></p>
      <p class="hasil-p-Pp22"></p>
      <h4 class="hasil-p-Pp33"></h4>
      <p class="hasil-p-Pp44"></p>
      <p class="hasil-p-Pp55"></p>
    </div>
  </div>
  </div>
</div>

<script src="js/matrix.js"></script>