<!--invers matriks 3×3 ribet-->
<div class="container3" id="matriks3">
    <div class="icon">
      <div class="informat2">
      <a href="#" id="informasi1"><i data-feather="info" class="fatinfo"></i></a>
       </div>
       <div class="closemat">
       <a href="#" class="close-iconmat"><i data-feather="x" class="close-xtri"></i></a>
       </div>
      </div>
    <div class="ket">
    <h2>invers matriks 3×3</h2>
    <p>isi satu persatu angkanya </p>
    </div>
    <form action="" class="dalemInv" autocomplete="off" >
      <div class="baris1">
        <label class="bel1">
          <input type="number" name="panjang" id="nilai1" placeholder="baris 1, kolom 1" autofocus>
        </label>
        <label class="bel2">
          <input type="number" name="lebar" id="nilai2" placeholder="baris 1 kolom 2">
        </label>
        <label class="bel3">
          <input type="number" name="lebar" id="nilai3" placeholder="baris 1 kolom 3">
        </label>
        </div>
        <div class="baris2">
        <label class="bel4">
          <input type="number" name="lebar" id="nilai4" placeholder=" baris 2 kolom 1">
        </label>
        <label class="bel5">
          <input type="number" name="lebar" id="nilai5" placeholder=" baris 2 kolom 2">
        </label>
        <label class="bel6">
          <input type="number" name="lebar" id="nilai6" placeholder=" baris 2 kolom 3">
        </label>
        </div>
        <div class="baris3">
        <label class="bel7">
          <input type="number" name="lebar" id="nilai7" placeholder=" baris 3 kolom 1">
        </label>
        <label class="bel8">
          <input type="number" name="lebar" id="nilai8" placeholder=" baris 3 kolom 2">
        </label>
        <label class="bel9">
          <input type="number" name="lebar" id="nilai9" placeholder=" baris 3 kolom 3">
        </label>
       </div>
    </form>
    <div class="emet">
    <button class="emet2" onclick="invRibet()">gass</button>
    </div>
    <div class="inversCara" id="inversCara">
      <div class="jawaban">
        <p class="hasil-p-Pp0"></p>
        <p class="hasil-p-Pp12"></p>
        <p class="hasil-p-Pp23"></p>
        <p class="hasil-p-Pp34"></p>
        <p class="hasil-p-Pp45"></p>
        <p class="hasil-p-Pp56"></p>
        <p class="hasil-p-Pp67"></p>
        <p class="hasil-p-Pp78"></p>
      </div>
    </div>
    </div>


    <script src="js/matrix.js"></script>