<div class="container3" id="matriks">
    <div class="close">
    <a href="#" class="close-icon"><i data-feather="x" class="close-x"></i></a>
    </div>
    <div class="ket">
    <h2>ordo matriks</h2>
    <p>memilih ordo matriks 2×2 atau 3×3</p>
    </div>
    <div class="ordomat">
    <div class="select-matrix">
        <li>
            <a href="/matrix-2">ordo 2x2</a>
        </li>
        <li>
            <a href="/matrix-3">ordo 3x3</a>
        </li>
    </div>
    </div>
    
    </div>
    