 <!--persegi panjang-->
 <div class="matriks">
  <div class="matkus">
  <div class="matriks-input">
    <div class="matriks-ket">
      <h1>Rectangle</h1>
    </div>
    <div class="matriks-input-button">
      <input type="text" id="panjang" placeholder="panjang">
      <input type="text" id="lebar" placeholder="lebar">
      <input type="text" id="hasil" placeholder="hasil">
    </div>
    <div class="button">

      <button onclick="hitungLuas()">Start !</button>
    </div>
  </div>
  <div class="matriks-output">
    <h1>Output</h1>
    <div class="matriks-output-final">
      <p class="hasil-p-Pp"></p>
    </div>
  </div>
  </div>
</div>

<script src="js/persegi.js"></script>