<!--segitiga-->
<div class="matriks">
  <div class="matkus">
  <div class="matriks-input">
    <div class="matriks-ket">
      <h1>Triangle</h1>
    </div>
    <div class="matriks-input-button">
      <input type="text" id="a" placeholder="a">
      <input type="text" id="b" placeholder="b">
      <input type="text" id="c" placeholder="c">
    </div>
    <div class="button">

      <button onclick="hitungSimir()">Start !</button>
    </div>
  </div>
  <div class="matriks-output">
    <h1>Output</h1>
    <div class="matriks-output-final">
      <p class="hasil-p"></p>
    </div>
  </div>
  </div>
</div>

<script src="js/segitiga.js"></script>