 <div class="matriks">
        <div class="matkus">
        <div class="matriks-input">
          <div class="matriks-ket">
            <h1>Statistics</h1>
          </div>
          <div class="matriks-input-button">
            <div class="xi">
                <input type="text" id="dataInput1" placeholder="xi">
                <input type="text" id="dataInput2" placeholder="xi">
                <input type="text" id="dataInput3" placeholder="xi">
                <input type="text" id="dataInput4" placeholder="xi">
                <input type="text" id="dataInput5" placeholder="xi">
            </div>
            <div class="fi">
            <input type="text" id="dataInput6" placeholder="fi">
            <input type="text" id="dataInput7" placeholder="fi">
            <input type="text" id="dataInput8" placeholder="fi">
            <input type="text" id="dataInput9" placeholder="fi">
            <input type="text" id="dataInput10" placeholder="fi">
            </div>
          </div>
          <div class="button">
      
            <button onclick="hitungRatarata()">Start !</button>
          </div>
        </div>
        <div class="matriks-output">
          <h1>Output</h1>
          <div class="matriks-output-final">
            <p class=".absorb"></p>
            <p class=".hasil"></p>
          </div>
        </div>
        </div>
      
    <script src="js/statistika.js"></script>